@import "styles/settings";
@import "styles/animations";

// App Root

div#root {
  background: $dark-theme-darker;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 0.875rem;
}

// Bpm Header

header.bpm-header {
  background: $dark-theme-base;
  box-shadow: 0 2px 6px rgba(black, 0.4);
  position: relative;
  z-index: 3;

  p.bpm-logo {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: $mobile-max) {

  header.bpm-header {

    p.bpm-logo span {
      margin-right: 0.125rem;
      text-indent: -999em;
    }
  }

}

@media screen and (min-width: $tablet) {

  header.bpm-header {
    display: flex;
    align-items: center;
  }

}

// Bpm Form

div.bpm-form {
  display: table;
  margin: 0.75rem 0;
  position: relative;

  &:after {
    background: $dark-theme-accent-b;
    border-radius: 0.125rem;
    content: 'P';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.125rem;
    height: 1.125rem;
    position: absolute;
    top: calc(50% - 0.5625rem);
    right: 0.5rem;
    font-size: 0.6875rem;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.preset {

    &:after {
      opacity: 1;
    }
  }

  label {
    color: $dark-theme-lightest;
    margin-left: 0.625rem;
  }

  input {
    background: $dark-theme-light;
    color: $dark-theme-lightest;
    font: inherit;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 0.125rem;
    margin-left: 0.625rem;
    padding: 0 2.125rem 0 0.5rem;
    font-size: 1rem;
  }
}

// Bpm Menu

div.bpm-menu {
  display: flex;

  button {
    flex: auto;
    height: 2.25rem;
  }
}

button {

  &.bpm-save-button {
    background: $dark-theme-accent-a;
    transition: background 0.2s;

    &:disabled {
      background: $dark-theme-lighter;
      color: $dark-theme-lightest;
    }
  }

  &.bpm-presets-button {
    background: $dark-theme-accent-b;
  }

  &.bpm-settings-button {
    background: $dark-theme-accent-c;
  }
}

@media screen and (min-width: $tablet) {

  div.bpm-menu {
    width: auto;
    padding: 0.625rem 0;

    button {
      width: 6rem;
      margin-left: 0.625rem;
    }
  }

}

// Bpm Presets Menu

div.bpm-presets-menu {
  background: $dark-theme-lighter;
  box-shadow: 0 2px 6px rgba(black, 0.4);
  display: flex;
  flex: none;
  height: 3rem;
  padding-bottom: 0.0625rem;
  position: relative;
  transition: height 0.2s;
  overflow: hidden;
  z-index: 2;

  &[hidden] {
    height: 0;
  }
}

button.bpm-page-button {
  background: $dark-theme-light url(../images/page-button-icons.svg) 0 0 / 4rem 6rem  no-repeat;
  width: 2rem;
  transition: background-color 0.2s;

  &:disabled {
    background-color: $dark-theme-dark;
    background-position: 0 100%;
    color: $dark-theme-light;
  }

  &.next {
    background-position: 100% 0;

    &:disabled {
      background-position: 100% 100%;
    }
  }
}

div.bpm-presets-list {
  width: calc(100% - 4rem);
  overflow: hidden;
  padding: 0 0.03125rem ;
}

div.bpm-load-buttons {
  display: flex;
  width: 800%;
  height: 3rem;
  transition: margin-left 0.2s;
}

button.bpm-load-button {
  background: $dark-theme-dark;
  width: 6.25%;
  margin: 0 0.03125rem;
  transition: background 0.2s;

  &.current {
    background: $dark-theme-accent-b;
  }
}

@media screen and (min-width: $tablet) {

  div.bpm-load-buttons {
    width: 400%;
  }

}

@media screen and (min-width: $desktop) {

  div.bpm-load-buttons {
    width: 200%;
  }

}

// Bpm Content

main.bpm-content {
  flex: auto;
}

div.bpm-notes {
  background: $dark-theme-darker;
  border-right: 1px solid $dark-theme-lighter;
  box-shadow: 0 2px 6px rgba(black, 0.4);
  display: flex;
}

div.bpm-list {
  border-left: 1px solid $dark-theme-lighter;
  flex: auto;
  position: relative;

  &:after {
    background: $dark-theme-accent-b;
    border-radius: 0.125rem;
    content: 'P';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.125rem;
    height: 1.125rem;
    position: absolute;
    top: 0.875rem;
    right: 0.875rem;
    font-size: 0.6875rem;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.preset {

    &:after {
      opacity: 1;
    }
  }

  ul {
    list-style: none;
  }

  h3, li {
    border-bottom: 1px solid $dark-theme-lighter;
    display: flex;
    height: 3rem;
    line-height: 3rem;
  }

  span.label {
    background: $dark-theme-dark;
    border-right: 1px solid $dark-theme-lighter;
    padding-left: 0.75rem;
    margin-right: 0.75rem;
    width: 6rem;
  }

  h3 span.label {
    background: $dark-theme-base;
    font-size: 0.875rem;
    font-weight: 700;
  }
}

div.bpm-status {
  display: table;
  line-height: 1.25;
  margin: 4rem auto;
  text-align: center;

  &:before {
    background: $dark-theme-accent-d url(../images/dc-monster-man.svg) 50% / 2.5rem 3.5rem no-repeat;
    border-radius: 2.5rem;
    content: '';
    display: inline-block;
    width: 5rem;
    height: 5rem;
  }

  h2 {
    margin: 0.8125rem 0 0.4375rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media screen and (max-width: $mobile-max) {

  div.bpm-notes {
    flex-direction: column;
    margin-bottom: -0.0625rem;

    h3 {
      background: $dark-theme-base;
    }
  }

}

// Bpm Footer

footer.bpm-footer {
  align-items: center;
  background: $dark-theme-dark;
  border-top: 1px solid $dark-theme-lighter;
  color: $dark-theme-lightest;
  display: flex;
  flex: none;
  font-size: 0.75rem;
}

@media screen and (max-width: $mobile-max) {
  
  footer.bpm-footer {
    flex-direction: column;
    padding: 0.75rem 0 1.5rem;
  }

  p.footer-info {
    order: 2;

    &.copy {
      margin: 0.5rem 0 0.3125rem;
    }
  }

}

@media screen and (min-width: $tablet) {

  p.footer-info {
    flex:0 1 50%;
    padding: 0 0.75rem;

    &.disc {
      text-align: right;
    }
  }

}

// Bpm Settings

aside.bpm-settings {
  background: $dark-theme-dark;
  color: white;
  width: 100vw;
  min-width: $mobile;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: fade-in 0.2s;
  overflow-y: auto;
}

div.bpm-dialog {
  background: $dark-theme-dark;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;

  p {
    color: $dark-theme-lightest;
    margin-top: 0.3125rem;
    font-size: 0.75rem;
  }

  &:before, &:after {
    content: '';
    width: calc(100% - 4rem);
    height: 1rem;
    position: absolute;
    left: 2rem;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
  }

  &:before {
    background: linear-gradient(to bottom, rgba($dark-theme-darker, 1) 0%,rgba($dark-theme-darker, 0) 100%);
    bottom: 30rem;
  }

  &:after {
    background: linear-gradient(to bottom, rgba($dark-theme-darker, 0) 0%,rgba($dark-theme-darker, 1) 100%);
    bottom: 6.5rem;
  }

  &.show-presets-top:before, &.show-presets-btm:after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s;
  }
}

div.bpm-delete-buttons {
  height: 24.5rem;
  margin: 1.5rem 0;
  overflow-y: auto;
}

button {

  &.bpm-close-button {
    background: url(../images/close-icon.svg) 50% / 1rem no-repeat;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  &.bpm-delete-button {
    width: calc(50% - 0.03125rem);
    height: 3rem;

    &:nth-child(n+3) {
      margin-top: 0.0625rem;
    }

    &:nth-child(2n+1) {
      margin-right: 0.0625rem;
    }

    &:disabled {
      background: $dark-theme-base;
    }
  }

  &.bpm-delete-all-button {
    background: $dark-theme-accent-a;
    width: 100%;
    height: 3rem;
    transition: opacity 0.2s;
    transition: all 0.2s;

    &:disabled {
      background: $dark-theme-lighter;
      color: $dark-theme-lightest;
    }
  }
}

@media screen and (min-width: $tablet) {

  aside.bpm-settings {
    background: rgba($dark-theme-darker, 0.95);
  }

  div.bpm-dialog {
    box-shadow: 2px 2px 6px rgba(black, 0.4);
    margin: 4rem auto;
  }

}

// Bpm Logo

p.bpm-logo {
  color: white;
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;

  &:before {
    background: $dark-theme-accent-d url(../images/dc-monster-man.svg) 50% / 2rem 1.375rem no-repeat;
    border-radius: 1rem;
    content: '';
    width: 2rem;
    height: 2rem;
  }

  span {
    margin-left: 0.5rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: $tablet) {

  p.bpm-logo {
    background: linear-gradient(to bottom, $dark-theme-light 0%, $dark-theme-base 100%);
    padding: 0 1.125rem;
  }

}
