// Dark Theme

$dark-theme-darker: #1f1f20; // app content
$dark-theme-dark: #252526; // presets, column header, app footer
$dark-theme-base: #2d2d2d; // app header
$dark-theme-light: #3c3c3c;
$dark-theme-lighter: #414141; // table border
$dark-theme-lightest: #c7c7c7; // font-color

$dark-theme-accent-a: #db4437; // save, delete
$dark-theme-accent-b: #059b6b; // preset indicators
$dark-theme-accent-c: #137ccb; // settings
$dark-theme-accent-d: #f27929; // logo

// Media Breakpoints

$desktop: 67.5rem; // 1080px
$tablet-max: $desktop - 0.0625rem; // 1079px
$tablet: 48rem; // 768px
$mobile-max: $tablet - 0.0625rem; // 767px
$mobile: 20rem; // 320px