@import "styles/settings";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:disabled {
  cursor: not-allowed;
}

:focus {
  outline: none;
}       

body {
  font: 100% 'Roboto', sans-serif;
  min-width: $mobile;
}

button {
  background: $dark-theme-lighter;
  border: 0;
  color: white;
  cursor: pointer;
  font: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
